{% extends "portfolio/index.html" %}
{% load static %}

{% block title %}
{% endblock %}

{% block main %}
  {% block navbar %}
  {% endblock %}

<section id="hero" class="d-flex flex-column justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-1">
        <div class="headshot-img justify-content-center">
          <div class="img-container justify-content-center">
            <img src="{% static 'img/Garth Face.png' %}" alt="" class="">
          </div>
        </div>
      </div>
      <div class="col-md-6 order-2">
        <div class="row" style="height:50%;">
          <div class="col-12 my-auto">
            <h1>Howdy, I'm Garth.</h1>
            <h4>I'm a <span class="typed" data-typed-items="Mechanical Engineer, Programmer, Designer, Climber, Learner"></span></h4>
          </div>
        </div>
        <div class="row" style="height:50%;">
          <div class="col-6">
            <h2>More about me.</h2>
            <div class="text-center">
              <a href="/about" class="btn">Resume</a>
            </div>
          </div>
          <div class="col-6">
            <h2>View projects.</h2>
            <div class="text-center">
              <a href="/projects" class="btn">My Projects</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<main id="main">

<section id="about">
  <div class="container">
    <div class="section-header">
      <h2>ABOUT ME</h2>
      <p></p>
    </div>

    <div class="container display-container">
      <div class="row">
        <div class="col-md-6">
          <p>
            I studied Mechanical Engineering at Worcester Polytechinc Institute,
            where I earned my Bachelor and Master degrees. During my four years
            in Worcester, I was a of some fantastic experiences.  I was able to
            travel across the world to Albania for several months, participate in
            collegiate athletics on the track team, and make many new friends along
            the way.<br><br>
            I love exploring the outdoors.  Whether biking, hiking, backpacking,
            running, climbing or pick up games, I am ready to go.<br><br>
            When I am not outside, I have been pursuing interests in 3D printing,
            learning python, robotics, electronics, and woodworking.
          </p>
          <br><br>
          <div class="text-center">
            <h2>More about me.</h2>
            <a href="/about" class="btn">About Me</a>
          </div>
        </div>
        <div class="col-md-6">
          <img class="img-fluid" src="{% static 'img/Garth at Yellowstone.jpg' %}" alt="Responsive image">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects" class="project">
  <div class="container">
    <div class="section-header">
      <h2>Projects</h2>
      <p>This is a collection of projects that I have worked on recently.</p>
    </div>

    <div class="row">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="project-flters">
          <li data-filter="*" class="active-filter">All</li>
          <li data-filter=".filter-Engineering">Engineering</li>
          <li data-filter=".filter-Programming">Programming</li>
          <li data-filter=".filter-Other">Other</li>
        </ul>
      </div>
    </div>

    <div class="row project-container">

      {% block projects %}
      {% endblock %}

    </div>
  </div>
</section>

</main>
{% endblock %}
