/* If its not updating, hit ctrl F5 */


/* Colors:
2F4454  2E151B  DA7B93  376E6F  1C3334 */

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/

.nav a {
  color: #99B3FF;
  font-weight: 400;
  font-family: Lucida Sans, sans-serif;
  text-decoration-style: double;
}

.nav a:hover {
  color: #DA7B93;
}

.navbar-expand-sm{
  transition: 500ms ease-out;
  background:#2E151B;
}

.navbar-expand-sm.scrolled{
  background:#2F4454;
}

.dropdown a {
  color: #99B3FF;
  font-weight: 400;
  font-family: Lucida Sans, sans-serif;
  text-decoration-style: double;
}

.dropdown a:hover {
  color: #DA7B93;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/Profile Pic2.jpg") top center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

@media (max-width: 1024px) {
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/Profile Pic Mobile.jpg") center center;
    background-size: cover;
    position: relative;
    background-attachment: scroll;
  }
}

#hero:before {
  content: "";
  background: rgba(47, 68, 84, 0.2);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 100px;
  top: 0;
  left: 500px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 768px) {
  #hero .hero-container {
    position: relative;
    bottom: 300px;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #99B3FF;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #2f4454;
  margin-bottom: 50px;
  font-size: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

#about .container {
  padding: 20px;
  margin-bottom: 30px;
  /* background: rgba(52, 59, 64, 0.9); */
}

#about h1 {
  /* margin: 30px 0 10px 0; */
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #99B3FF;
}

/*--------------------------------------------------------------
# Projects Section
--------------------------------------------------------------*/

#projects h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #99B3FF;
}

#projects {
  padding: 50px 0;
}

#projects #projects-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

#projects #projects-flters button {
  cursor: pointer;
  display: inline-block;
  padding: 12px 18px 14px 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #2E151B;
  margin: 0 5px 10px 5px;
  transition: all ease-in-out 0.3s;
  background: white;
  border-radius: 4px;
  border-style: groove;
}

@media (max-width: 768px) {
  #projects #projects-flters button {
    cursor: pointer;
    display: inline-block;
    padding: 12px 5px 14px 5px;
    font-size: 8px;
    font-weight: 500;
    line-height: 1;
    color: #2E151B;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: white;
    border-radius: 4px;
    border-style: groove;
  }
}

#projects #projects-flters button:hover {
  color: #fff;
  background: #376E6F;
}

#projects #projects-flters button.is-checked {
  color: #fff;
  background: #2F4454;
}

#projects #projects-flters button:last-child {
  margin-right: 0;
}

#projects .projects-item {
  overflow: hidden;
}

#projects .card {
  background-color: inherit;
  border: #000;
  width: 31%;
  height: auto;
  margin: 1.167%;
}

@media (max-width: 768px) {
  #projects .card {
    background-color: inherit;
    border: #000;
    width: 80%;
    height: auto;
    margin: 1% 10%;
  }
}

#projects .card-img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

#projects .projects-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

#projects .projects-item .projects-info {
  opacity: 0;
  position: absolute;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #2F4454;
  width: 100%;
  padding: 15px 20px;
}

#projects .projects-item .projects-info h4 {
  font-size: 18px;
  /* color: #5B8C5A; */
  font-weight: 600;
}

#projects .projects-item .projects-info p {
  color: #FFF;
  font-size: 14px;
  margin-bottom: 0;
}

#projects .projects-item:hover img {
  top: -30px;
}

#projects .projects-item:hover .projects-info {
  opacity: 1;
  bottom: 0;
}

/*--------------------------------------------------------------
# Cover Section
--------------------------------------------------------------*/

#cover .cover-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#cover .cover-container h1 {
  font-size: 80px;
  font-weight: 200;
  font-family: fantasy;
}

@media (max-width: 768px) {
  #cover .cover-container h1 {
    font-size: 40px;
    font-weight: 200;
    font-family: fantasy;
  }
}

#cover:before {
  content: "";
  background: rgba(55, 110, 111, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

/*--------------------------------------------------------------
# Content Section
--------------------------------------------------------------*/

#content .projects-item {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #FFF;
}

#content .img-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

#content h1 {
  color: #FFF;
  text-align: center;
}

#content a {
  color: #99B3FF;
  text-align: center;
}

#content p {
  text-align: left;
  color: #99B3FF;
  font-size: 25px;
}

#content .projects-item {
  background: #2F4454;
}

#content .projects-item h4 {
  font-size: 40px;
  color: #99B3FF;
}

#content .projects-item p {
  font-size: 25px;
  color: #FFF;
}

@media (max-width: 768px) {
  #content .projects-item p {
    font-size: 15px;
    color: #FFF;
  }
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

#skills p {
  color: #FFF;
}

#skills .flip-card {
  width: 28%;
  margin-left: 2.6%;
  margin-right: 2.6%;
  margin-bottom: 30px;
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
}

@media (max-width: 768px) {
  #skills .flip-card {
    background-color: transparent;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 10px;
    height: 250px;
    perspective: 1000px;
  }
}

#skills .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: #1c3334;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: visible;
}

#skills .flip-card-front {
  background-color: inherit;
  border: 1px solid #f1f1f1;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#skills .flip-card-back {
  background-color: inherit;
  transform: rotateY(180deg);
  padding: 5px;
  border: 1px solid #f1f1f1;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#skills .card-title {
  width: 100%;
  height: auto;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .card-description {
  width: 80%;
  height: auto;
  margin: 0;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/*--------------------------------------------------------------
# Experience
--------------------------------------------------------------*/

#experience .experience-title {
  font-size: 26px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
}

#experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #376E6F;
  position: relative;
  text-align: left;
}

#experience h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #376E6F;
  margin-bottom: 10px;
  text-align: left;
}

#experience h5 {
  font-size: 16px;
  background: #7E3A4A; /* Edit this color for dates */
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #34b7a7;
  text-align: left;
}

#experience p {
  color: #FFF;
}

#experience .experience-item ul {
  padding-left: 20px;
}

#experience .experience-item ul li {
  padding-bottom: 10px;
}

#experience .experience-item:last-child {
  padding-bottom: 0;
}

#experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #1C3334;
  border: 2px solid #376E6F;
}

/*--------------------------------------------------------------
# Project Pages
--------------------------------------------------------------*/

#project_page .project-img {
  height: auto;
  width: 90%;
  margin: 10px 0 10px 0;
}

#project_page .project-img-large {
  height: auto;
  width: 75%;
  margin: 10px 0 10px 0;
}

#project_page .project-img-col {
  margin: auto;
  display: block;
}

#project_page .project-txt-col {
  align-items: center;
}

#project_page p {
  /* text-indent: 30px; */
  color: #99B3FF;
}

#project_page ol {
  text-align: left;
  color: #99B3FF;
}

#project_page ul {
  text-align: left;
  color: #99B3FF;
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/

#about_me p {
  color: #FFF;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/

#interests p {
  color: #FFF;
}

/*--------------------------------------------------------------
# Dungeons
--------------------------------------------------------------*/

#dungeons {
  color: #FFF;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#dungeons .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#dnd-cover {
  width: 100%;
  height: 94vh;
  background: url("../img/dnd/Main Cover.jpg") center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}

#dnd-cover .dnd-container {
  position: relative;
  bottom: 100px;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  justify-content: left;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#gauntletCarouselControls p {
  font-size: 22px;
}

.butt-prev-1, .butt-next-9 {
  visibility: hidden;
}
