{% extends "recipes/top_navbar_recipe.html" %} 
{% block title %} Recipes {% endblock %} 
{% load custom_filters %}{% block content %}

<section id="recipe-list">
  <div class="section-header">
    <h2>Recipes</h2>
    <p>This is a list of some recipes that I have saved for easy access.</p>
  </div>
  <div class="container d-flex justify-content-center">
    <ul id="recipe-flters">
      <li data-filter="*" class="active-filter">All</li>
      <li data-filter=".filter-Breakfast">Breakfast</li>
      <li data-filter=".filter-Lunch">Lunch</li>
      <li data-filter=".filter-Dinner">Dinner</li>
      <li data-filter=".filter-Dessert">Dessert</li>
      <li data-filter=".filter-Snack">Snacks</li>
    </ul>
  </div>
  <div class="row recipe-container">
    {% for recipe in object_list %}
    <div class="recipe-item col-12 filter-{{ recipe.get_type_display }}">
      <div class="container recipe-block">
        <a href="{% url 'recipe_detail' recipe.slug %}">
          <div class="row">
            <div class="col-md-5 px-0 img-col">
              <div class="recipe-img">
                <img
                  src="{{ recipe.cover_image.url }}"
                  alt="Pic of {{ recipe.title }}"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col-md-7 center-align">
              <h1 class="recipe-title">{{ recipe.title }}</h1>
              <div class="row">
                <div class="col-md-6">
                  <p class="recipe-servings">
                    Servings: <i>{{ recipe.servings }}</i>
                  </p>
                  <p class="recipe-time-to-make">
                    Approx Cook Time: <i>{{ recipe.time_to_make }} minutes</i>
                  </p>
                </div>
                <div class="col-md-6">
                  <p class="recipe-date">Created: <i>{{ recipe.date }}</i></p>
                </div>
              </div>
              <h4 class="recipe-description">
                {{ recipe.description|safe|truncatewords:15 }}
              </h4>
              <div class="recipe-tags-container">
                {% for tag in recipe.tags.all %}
                <p class="recipe-tags">{{ tag }}</p>
                {% endfor %}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
