/*
Colors:
Natural Pallate
#687864, #31708E, #5085A5, #8FC1E3, #F7F9FB

Dark Blue / Tan
#2C3531, #116466, #D9B08C, #FFCB9A, #D1E8E2
*/

/* /////////////////////////////////////////////////////////////////////////////
Body
///////////////////////////////////////////////////////////////////////////// */

body {
  background-color: #D9B08C;
  color: #2C3531;
  font-family: "Mochiy Pop P One", sans-serif;
}
section {
  padding: 60px 0;
  overflow: hidden;
}
p {
  font-family: "Verdana", sans-serif;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;
  color: #2C3531;
  font-family: 'Verdana', sans-serif;
}

.section-header h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2C3531;
  font-family: 'Verdana', sans-serif;
}
.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 2px;
  background: #116466;
  bottom: 1px;
  left: calc(50% - 60px);
  -webkit-transform: rotate(-10deg);
}
.section-header h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 4px;
  background: #D1E8E2;
  bottom: 0;
  left: calc(50% - 20px);
  -webkit-transform: rotate(10deg);
}
.section-header p {
  margin-bottom: 0;
}

.display-container {
  padding: 50px;
  background-color: #116466;
  color: #D1E8E2;
}

/* /////////////////////////////////////////////////////////////////////////////
Side Navbar
///////////////////////////////////////////////////////////////////////////// */

#side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}
@media (max-width: 992px) {
  #side-navbar {
    width: 300px;
    background: #2C3531;
    border-right: 1px solid #FFCB9A;
    left: -300px;
  }
}

.sm-navbar {
  visibility: hidden;
}

@media (max-width: 992px) {
  .sm-navbar {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

.side-nav-menu {
  display: block;
  padding: 0;
}

.side-nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.side-nav-menu a, .side-nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #FFCB9A;
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
  border-radius: 50px;
  border: 1px solid #D1E8E2;
  background: #2C3531;
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.side-nav-menu a i, .side-nav-menu a:focus i {
  font-size: 24px;
  margin-left: -3px;
  padding-top: 3px;
}

.side-nav-menu a span, .side-nav-menu a:focus span {
  padding: 0 5px 0 7px;
  color: #D1E8E2;
}

@media (min-width: 992px) {
  .side-nav-menu a, .side-nav-menu a:focus {
    width: 56px;
  }
  .side-nav-menu a span, .side-nav-menu a:focus span {
    display: none;
    color: #FFCB9A;
  }
}

.side-nav-menu a:hover, .side-nav-menu .active, .side-nav-menu .active:focus, .side-nav-menu li:hover > a {
  color: #116466;
  background: #FFCB9A;
}

.side-nav-menu a:hover span, .side-nav-menu .active span, .side-nav-menu .active:focus span, .side-nav-menu li:hover > a span {
  color: #116466;
}

.side-nav-menu a:hover, .side-nav-menu li:hover > a {
  width: 100%;
  color: #116466;
}

.side-nav-menu a:hover span, .side-nav-menu li:hover > a span {
  display: inline-block;
}

/* /////////////////////////////////////////////////////////////////////////////
Top Navbar
///////////////////////////////////////////////////////////////////////////// */

.top-nav-menu {
  background-color: #2C3531;
  color: #FFCB9A;
  /* margin-bottom: 20px; */
}

.top-nav-menu a {
  color: inherit;
}

.top-nav-menu a:hover {
  color: #D1E8E2;
}

.navbar-toggler {
  color: #FFCB9A;
}

/* /////////////////////////////////////////////////////////////////////////////
Footer
///////////////////////////////////////////////////////////////////////////// */

#contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2C3531;
  color: #D9B08C;
  text-align: center;
}

#contact a {
  color: #D1E8E2;
}

/* /////////////////////////////////////////////////////////////////////////////
Hero
///////////////////////////////////////////////////////////////////////////// */

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/Cover Image.jpg") center center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  color: #D1E8E2;
}


#hero:before {
  content: "";
  background: rgba(217, 176, 140, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  color: #116466;
  text-align: center;
}

#hero h2 {
  text-align: center;
}

#hero h4 {
  text-align: center;
}

#hero .img-container {
  height: 500px;
  width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid #2C3531;
}

.headshot-img {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  #hero .img-container {
    height: 350px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #2C3531;
  }
}

@media (max-width: 768px) {
  #hero .img-container {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid #2C3531;
  }
}

#hero img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

/* #hero .text-backing {
  padding: 10px 20px 1px 20px;
  background: rgba(17, 100, 102, 0.3);
} */

#hero .btn {
  background-color: #2C3531;
  color: #D1E8E2;
}

#hero .btn:hover {
  background-color: #D1E8E2;
  color: #2C3531;
}

/* /////////////////////////////////////////////////////////////////////////////
About
///////////////////////////////////////////////////////////////////////////// */

#about {
  width: 100%;
  height: 100vh;
  background-color: inherit;
  background-size: cover;
}

#about h1 {
  color: #D9B08C;
}

#about .btn {
  background-color: #2C3531;
  color: #D1E8E2;
}

#about .btn:hover {
  background-color: #D1E8E2;
  color: #2C3531;
}

/* /////////////////////////////////////////////////////////////////////////////
Projects Cover Page
///////////////////////////////////////////////////////////////////////////// */

#projects {
  width: 100%;
  /* height: 100vh; */
  /* background-color: #D9B08C; */
  background-size: cover;
}

#projects #project-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background-color: inherit;
  border-radius: 50px;
  padding: 2px 15px;
}
#projects #project-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #116466;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
#projects #project-flters li:hover, #projects #project-flters li.active-filter {
  padding: 9px 15px;
  color: #FFCB9A;
  background-color: #2C3531;
  border-radius: 20px;
}
#projects #project-flters li:last-child {
  margin-right: 0;
}

#projects .project-item {
  overflow: hidden;
  background-color: inherit;
  border: #000;
  height: auto;
  background-color: inherit;
  padding: 10px 12px;
}

#projects .card {
  overflow: hidden;
  background-color: inherit;
  border-width: 5px;
  border-color: #116466;
  height: auto;
  background-color: #116466;
  border-radius: 15px;
}

#projects .project-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

#projects .project-item .project-info {
  opacity: 0;
  position: absolute;
  bottom: -50px;
  z-index: 2;
  transition: all ease-in-out 0.3s;
  background-color: #2C3531;
  width: 100%;
  padding: 15px 20px;
  /* margin-right: 10px; */
}

#projects .project-item .project-info a {
  font-size: 18px;
  color: #D9B08C;
  font-weight: 600;
}

#projects .project-item .project-info p {
  color: #D1E8E2;
  font-size: 14px;
  margin-bottom: 0;
}

#projects .project-item:hover img {
  top: -30px;
}

#projects .project-item:hover .project-info {
  opacity: 1;
  bottom: 0;
}

/* /////////////////////////////////////////////////////////////////////////////
About Page
///////////////////////////////////////////////////////////////////////////// */

#about-page {
  padding-top: 50px;
}

#about-page .projects-item {
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #FFF;
  display: flex;
  align-items: center;
}

#about-page .img-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

#about-page a {
  color: #FFCB9A;
  text-align: center;
}

@media (max-width: 768px) {
  #about-page .projects-item h4 {
    /* color: #FFF; */
    text-align: center;
    font-size: 26px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Skills
///////////////////////////////////////////////////////////////////////////// */

#skills p {
  color: #FFF;
}

#skills .flip-card {
  width: 28%;
  margin-left: 2.6%;
  margin-right: 2.6%;
  margin-bottom: 30px;
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
}

@media (max-width: 992px) {
  #skills .flip-card {
    background-color: transparent;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    height: 250px;
    perspective: 1000px;
  }
}

#skills .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: #116466;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: visible;
}

#skills .flip-card-front {
  background-color: inherit;
  color: #FFCB9A;
  border: 1px solid #f1f1f1;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#skills .flip-card-back {
  background-color: inherit;
  transform: rotateY(180deg);
  padding: 5px;
  border: 1px solid #f1f1f1;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

#skills .card-title {
  width: 100%;
  height: auto;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .card-description {
  width: 80%;
  height: auto;
  margin: 0;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* /////////////////////////////////////////////////////////////////////////////
Experience
///////////////////////////////////////////////////////////////////////////// */

/* #2C3531, #116466, #D9B08C, #FFCB9A, #D1E8E2 */


#experience .experience-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #2C3531;
}

#experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #376E6F;
  position: relative;
  text-align: left;
}

#experience h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Verdana", sans-serif;
  color: #116466;
  margin-bottom: 10px;
  text-align: left;
}

#experience h5 {
  font-size: 16px;
  background: #116466; /* Edit this color for dates */
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: #D1E8E2;
  text-align: left;
}

#experience p {
  color: #2C3531;
  font-family: "Mochiy Pop P One", sans-serif;
}

#experience .experience-item ul {
  padding-left: 20px;
}

#experience .experience-item ul li {
  padding-bottom: 10px;
}

#experience .experience-item:last-child {
  padding-bottom: 0;
}

#experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #D1E8E2;
  border: 2px solid #116466;
}

/* /////////////////////////////////////////////////////////////////////////////
Project List
///////////////////////////////////////////////////////////////////////////// */

#project-list .project-block {
  background-color: #116466;
  padding: 15px;
  color: #D1E8E2;
  border: 5px #FFCB9A;
  border-radius: 50px 20px 50px 20px;
  margin: 5px;
}

#project-list .project-title {
  font-size: 28px;
  color: #D9B08C;
  text-align: center;
}

#project-list .project-info {
  font-size: 20px;
  padding: 10px;
}

/* #2C3531, #116466, #D9B08C, #FFCB9A, #D1E8E2 */
