/* /////////////////////////////////////////////////////////////////////////////
Body
///////////////////////////////////////////////////////////////////////////// */
:root {
  --outer-space: #2C3531;
  --skobeloff: #116466;
  --tumbleweed: #D9B08C;
  --peachy: #FFCB9A;
  --light-cyan: #D1E8E2;
}

body {
  background-color: var(--tumbleweed);
  color: var(--outer-space);
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 50px 0;
  overflow: hidden;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--peachy);
}

a:hover {
  color: var(--peachy);
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
}

.section-header h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;
  color: var(--outer-space);
}

.section-header h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--outer-space);
  font-family: 'Mochiy Pop P One', sans-serif;
}

.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: var(--light-cyan);
  bottom: 0;
  left: calc(50% - 50px);
}

.section-header p {
  margin-bottom: 0;
  font-size: 18px;
}

.display-container {
  padding: 50px;
  background-color: var(--skobeloff);
  color: var(--light-cyan);
  border-radius: 30px;
}

/* /////////////////////////////////////////////////////////////////////////////
Side Navbar
///////////////////////////////////////////////////////////////////////////// */
#side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #side-navbar {
    width: 300px;
    background: var(--outer-space);
    border-right: 1px solid var(--peachy);
    left: -300px;
  }
}

.sm-navbar {
  visibility: hidden;
}

@media (max-width: 992px) {
  .sm-navbar {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

.side-nav-menu {
  display: block;
  padding: 0;
}

.side-nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.side-nav-menu a, .side-nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--peachy);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid var(--light-cyan);
  background: var(--outer-space);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.side-nav-menu a i, .side-nav-menu a:focus i {
  font-size: 26px;
  margin-left: -4px;
  padding-top: 3px;
}

.side-nav-menu a span, .side-nav-menu a:focus span {
  padding: 0 3px 0 7px;
  color: var(--light-cyan);
}

@media (min-width: 992px) {
  .side-nav-menu a, .side-nav-menu a:focus {
    width: 56px;
  }

  .side-nav-menu a span, .side-nav-menu a:focus span {
    display: none;
    color: var(--peachy);
  }
}

.side-nav-menu a:hover, .side-nav-menu .active, .side-nav-menu .active:focus, .side-nav-menu li:hover>a {
  color: var(--skobeloff);
  background: var(--peachy);
}

.side-nav-menu a:hover span, .side-nav-menu .active span, .side-nav-menu .active:focus span, .side-nav-menu li:hover>a span {
  color: var(--skobeloff);
}

.side-nav-menu a:hover, .side-nav-menu li:hover>a {
  width: 100%;
  color: var(--skobeloff);
}

.side-nav-menu a:hover span, .side-nav-menu li:hover>a span {
  display: inline-block;
}

/* /////////////////////////////////////////////////////////////////////////////
Top Navbar
///////////////////////////////////////////////////////////////////////////// */
#top-navbar {
  padding-bottom: 50px;
  position: absolute;
}

.top-nav-menu {
  background-color: var(--outer-space);
  color: var(--peachy);
}

.top-nav-menu a {
  color: inherit;
}

.top-nav-menu a:hover {
  color: var(--light-cyan);
}

.navbar-toggler {
  color: var(--peachy);
}

/* /////////////////////////////////////////////////////////////////////////////
Footer
///////////////////////////////////////////////////////////////////////////// */
#contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--outer-space);
  color: var(--tumbleweed);
  text-align: center;
}

#contact a {
  color: var(--light-cyan);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 30px;
  max-height: 75px;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Hero
///////////////////////////////////////////////////////////////////////////// */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/Cover Image.jpg") center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  color: var(--light-cyan);
}

#hero::before {
  content: "";
  background: rgba(217, 176, 140, 0.5);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero h1 {
  color: var(--skobeloff);
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#hero h2 {
  text-align: center;
}

#hero h4 {
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#hero .img-container {
  height: 500px;
  width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid var(--outer-space);
}

#hero .headshot-img {
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  #hero .img-container {
    height: 350px;
    width: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid var(--outer-space);
  }
}

@media (max-width: 768px) {
  #hero .img-container {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid var(--outer-space);
  }
}

#hero img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

@media (max-width: 768px) {
  #hero .hero-buttons {
    visibility: hidden;
  }
}

#hero .btn {
  background-color: var(--outer-space);
  color: var(--light-cyan);
}

#hero .btn:hover {
  background-color: var(--light-cyan);
  color: var(--outer-space);
}

#hero .container {
  position: relative;
}

/* /////////////////////////////////////////////////////////////////////////////
About
///////////////////////////////////////////////////////////////////////////// */
#about {
  width: 100%;
  background-color: inherit;
  background-size: cover;
}

#about h1 {
  color: var(--tumbleweed);
}

#about h3 {
  text-align: center;
  font-size: 46px;
  font-family: 'Dongle', sans-serif;
}

#about p {
  font-size: 18px;
}

#about .btn {
  background-color: var(--outer-space);
  color: var(--light-cyan);
}

#about .btn:hover {
  background-color: var(--light-cyan);
  color: var(--outer-space);
}

/* /////////////////////////////////////////////////////////////////////////////
Projects Cover Page
///////////////////////////////////////////////////////////////////////////// */
#projects {
  width: 100%;
  background-size: cover;
}

#projects #project-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background-color: inherit;
  border-radius: 50px;
  padding: 2px 15px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#projects #project-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--skobeloff);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#projects #project-flters li:hover, #projects #project-flters li.active-filter {
  padding: 9px 15px;
  color: var(--peachy);
  background-color: var(--outer-space);
  border-radius: 20px;
}

#projects #project-flters li:last-child {
  margin-right: 0;
}

#projects .project-item {
  overflow: hidden;
  height: auto;
  background-color: inherit;
  padding: 10px 12px;
}

#projects .card {
  overflow: hidden;
  border-width: 5px;
  height: auto;
  background-color: var(--skobeloff);
  border-radius: 15px;
}

#projects .project-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

#projects .project-item .project-info {
  opacity: 0;
  position: absolute;
  bottom: -50px;
  z-index: 2;
  transition: all ease-in-out 0.3s;
  background-color: var(--outer-space);
  width: 100%;
  padding: 15px 20px;
}

#projects .project-info a {
  font-size: 18px;
  color: var(--tumbleweed);
  font-family: 'Mochiy Pop P One', sans-serif;
}

#projects .project-item .project-info p {
  color: var(--light-cyan);
  font-size: 14px;
  margin-bottom: 0;
}

#projects .card:hover img {
  top: -30px;
}

#projects .card:hover .project-info {
  opacity: 1;
  bottom: 0;
}

/* /////////////////////////////////////////////////////////////////////////////
About Page
///////////////////////////////////////////////////////////////////////////// */
#about-page {
  margin-top: 30px;
}

#about-page .img-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

#about-page a {
  color: var(--peachy);
  text-align: center;
}

@media (max-width: 768px) {
  #about-page .projects-item h4 {
    text-align: center;
    font-size: 26px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Skills
///////////////////////////////////////////////////////////////////////////// */
#skills p {
  color: var(--light-cyan);
}

#skills .flip-card {
  width: 28%;
  margin-left: 2.6%;
  margin-right: 2.6%;
  margin-bottom: 30px;
  height: 200px;
  perspective: 1000px;
}

@media (max-width: 992px) {
  #skills .flip-card {
    background-color: transparent;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    height: 250px;
    perspective: 1000px;
    border-radius: 20px;
  }
}

#skills .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: var(--skobeloff);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: visible;
  border-radius: 20px;
}

#skills .flip-card-front {
  background-color: inherit;
  color: var(--peachy);
  border: 3px solid var(--light-cyan);
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

#skills .flip-card-back {
  background-color: inherit;
  transform: rotateY(180deg);
  padding: 5px;
  border: 3px solid var(--light-cyan);
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

#skills .card-title {
  width: 100%;
  height: auto;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .card-description {
  width: 80%;
  height: auto;
  margin: 0;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* /////////////////////////////////////////////////////////////////////////////
Experience
///////////////////////////////////////////////////////////////////////////// */
#experience .experience-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--outer-space);
}

#experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #376E6F;
  position: relative;
  text-align: left;
}

#experience h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Verdana", sans-serif;
  color: var(--skobeloff);
  margin-bottom: 10px;
  text-align: left;
}

#experience h5 {
  font-size: 16px;
  background: var(--skobeloff);
  /* Edit this color for dates */
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--light-cyan);
  text-align: left;
}

#experience p {
  color: var(--outer-space);
  font-family: "Mochiy Pop P One", sans-serif;
}

#experience .experience-item ul {
  padding-left: 20px;
}

#experience .experience-item ul li {
  padding-bottom: 10px;
}

#experience .experience-item:last-child {
  padding-bottom: 0;
}

#experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--light-cyan);
  border: 2px solid var(--skobeloff);
}

/* /////////////////////////////////////////////////////////////////////////////
Project List
///////////////////////////////////////////////////////////////////////////// */
#project-list {
  margin-top: 30px;
}

#project-list .project-block {
  background-color: var(--skobeloff);
  padding: 15px;
  color: var(--light-cyan);
  border: 5px var(--peachy);
  border-radius: 50px 20px 50px 20px;
  margin: 15px;
  border: 5px var(--outer-space) solid;
  transition: .25s;
}

#project-list .project-block:hover {
  transform: scale(1.1);
  z-index: 3;
}

#project-list .project-block:hover .project-title {
  text-decoration: underline;
}

#project-list .project-block:hover img {
  border: 3px var(--peachy) solid;
}

#project-list .project-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#project-list img {
  border-radius: 20px;
}

#project-list .project-title {
  font-size: 28px;
  color: var(--tumbleweed);
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#project-list .project-info {
  font-size: 20px;
  padding: 10px;
}

#project-list a:hover, a {
  text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////////////
Project Detail Page
///////////////////////////////////////////////////////////////////////////// */
/* @media (min-width: 782px) {
  #project-page {
    visibility: hidden;
  }
} */
#project-page .container {
  width: 65%;
}

#project-page .project-img {
  height: auto;
  width: 90%;
  margin: 10px 0 10px 0;
}

#project-page .project-img-large {
  height: auto;
  width: 100%;
  margin: 10px 0 10px 0;
}

#project-page .project-img-col {
  margin: auto;
  display: block;
}

#project-page .project-txt-col {
  align-self: center;
  height: 100%;
  background-color: var(--skobeloff);
  color: var(--light-cyan);
  padding: 15px 25px;
  margin: 15px 0px;
  border: 3px var(--outer-space) solid;
}

#project-page a {
  color: var(--peachy)
}

/* /////////////////////////////////////////////////////////////////////////////
Project Detail Page
///////////////////////////////////////////////////////////////////////////// */
#project_carousel {
  background-color: inherit;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 70px;
}

@media (max-width: 782px) {
  #project_carousel {
    /* visibility: hidden;
    height: 0vh; */
    overflow: visible;
  }
}

#project_carousel .carousel-container {
  padding-left: 10%;
  padding-right: 2%;
}

@media (max-width: 782px) {
  #project_carousel .carousel-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

#project_carousel .carousel-inner {
  height: 100%;
}

#project_carousel .carousel-item {
  transition: transform 2s ease-in-out, opacity .5s ease-in-out;
  height: 100%;
}

#project_carousel .carousel-body {
  height: 100vh;
}

@media (max-width: 782px) {
  #project_carousel .carousel-body {
    height: auto;
  }
}

#project_carousel .text-body {
  height: 100%;
  padding-top: 100px;
}

@media (max-width: 782px) {
  #project_carousel .text-body {
    padding-top: 20px;
  }
}

#project_carousel .project-title h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
}

#project_carousel .project-date h3 {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-style: italic;
}

#project_carousel .project-tag h5 {
  font-family: 'Dongle', sans-serif;
  font-size: 38px;
  font-style: oblique;
}

#project_carousel .text-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#project_carousel .img-wrapper {
  width: 90%;
  height: auto;
  border-radius: 20px 40px;
  border: 5px solid var(--skobeloff);
  overflow: hidden;
}

@media (max-width: 782px) {
  #project_carousel .center-align {
    width: 100%;
    height: auto;
  }
}

#project_carousel .img-wrapper::before {
  width: 200px;
  height: 700px;
  transform: skew(20deg);
  background: #fff;
}

#project_carousel .img-wrapper img {
  width: 100%;
  height: auto;
  object-position: center center;
}

#project_carousel .carousel-img {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#project_carousel .carousel-buttons {
  position: fixed;
  bottom: 10%;
  right: 3%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 35%;
  z-index: 100;
}

@media (max-width: 782px) {
  #project_carousel .carousel-buttons {
    position: relative;
    width: 100%;
    right: 0%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 5%;
    z-index: 100;
  }
}

#project_carousel .carousel-button-prev {
  border: 1px solid var(--outer-space);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, var(--outer-space) 40%, transparent 0%);
  background-size: 300% 100%;
  background-position: left bottom;
  transition: all 0.3s ease-out;
}

#project_carousel .carousel-button-next {
  border: 1px solid var(--outer-space);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, var(--outer-space) 40%, transparent 0%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.3s ease-out;
}

#project_carousel .carousel-button-prev:hover {
  background-color: var(--outer-space);
  background-position: right bottom;
  border-color: var(--peachy);
}

#project_carousel .carousel-button-next:hover {
  background-color: var(--outer-space);
  background-position: left bottom;
  border-color: var(--peachy);
}

#project_carousel .carousel-button-prev:hover svg {
  stroke: var(--light-cyan);
}

#project_carousel .carousel-button-next:hover svg {
  stroke: var(--light-cyan);
}

#project_carousel .carousel-control-next, .carousel-control-prev {
  position: relative;
}

#project_carousel svg {
  stroke: var(--skobeloff);
}

#project_carousel .carousel-control-prev-icon {
  transform: rotate(180deg);
  background: transparent;
}

#project_carousel .carousel-control-next-icon {
  background: transparent;
}

#project_carousel .carousel-pagination {
  font-family: 'Mochiy Pop P One', sans-serif;
}

#project_carousel .center-align {
  height: 90vh;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 10%;
}

@media (max-width: 782px) {
  #project_carousel .center-align {
    height: auto;
  }
}

@media (max-height: 800px) and (min-width: 782px) {
  #project_carousel .center-align {
    height: 80vh;
  }
}

#project_carousel .img-align {
  width: 85%;
  height: 70vh;
  padding-top: 3%;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 782px) {
  #project_carousel .img-align {
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

@media (max-height: 800px) and (min-width: 782px) {
  #project_carousel .img-align {
    height: 65vh;
  }
}

#Carousel {
  height: 100%;
}

/* --outer-space, --skobeloff, --tumbleweed, --peachy, --light-cyan */
/* Fun Add-ins */
