/* /////////////////////////////////////////////////////////////////////////////
Body
///////////////////////////////////////////////////////////////////////////// */
:root {
  /* --outer-space: #2C3531;   outer-space */
  /* --skobeloff: #116466;     skobeloff */
  /* --tumbleweed: #D9B08C;    tumbleweed */
  /* --peachy: #FFCB9A;        peachy */
  /* --white: #FFFFFF;         white */

  --dark-base: #2C3531;   /* outer-space */
  --primary: #116466;     /* skobeloff */
  --medium-accent: #D9B08C;    /* tumbleweed */
  --light-accent: #FFCB9A;        /* peachy */
  --white: #FFFFFF;         /* white */

}

body {
  background-color: var(--light-accent);
  color: var(--dark-base);
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 30px 0;
  overflow: hidden;
}

p {
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  color: var(--light-accent);
}

.section-header {
  text-align: center;
  padding-bottom: 20px;
}

.section-header h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 60px;
  padding-bottom: 20px;
  position: relative;
  color: var(--dark-base);
}

.section-header h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: var(--dark-base);
  font-family: 'Mochiy Pop P One', sans-serif;
}

.section-header h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: var(--white);
  bottom: 0;
  left: calc(50% - 50px);
}

.section-header p {
  margin-bottom: 0;
  font-size: 18px;
}

.section-header a {
  color: var(--dark-base);
}

.display-container {
  padding: 50px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 30px;
  border: 2px solid var(--dark-base);
}

/* /////////////////////////////////////////////////////////////////////////////
Side Navbar
///////////////////////////////////////////////////////////////////////////// */
#side-navbar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9997;
  transition: all 0.5s;
  padding: 15px;
  overflow-y: auto;
}

@media (max-width: 992px) {
  #side-navbar {
    width: 300px;
    background: var(--dark-base);
    border-right: 1px solid var(--light-accent);
    left: -300px;
  }
}

.sm-navbar {
  visibility: hidden;
}

@media (max-width: 992px) {
  .sm-navbar {
    visibility: visible;
  }
}

@media (min-width: 992px) {
  #main {
    margin-left: 100px;
  }
}

.side-nav-menu {
  display: block;
  padding: 0;
}

.side-nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-nav-menu>ul>li {
  position: relative;
  white-space: nowrap;
}

.side-nav-menu a, .side-nav-menu a:focus {
  display: flex;
  align-items: center;
  color: var(--light-accent);
  padding: 10px 18px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 20px;
  border-radius: 50px;
  border: 1px solid var(--white);
  background: var(--dark-base);
  height: 56px;
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.side-nav-menu .active, .side-nav-menu .active:focus {
    border: 1px solid var(--primary);
  }

.side-nav-menu a i, .side-nav-menu a:focus i {
  font-size: 26px;
  margin-left: -4px;
  padding-top: 3px;
}

.side-nav-menu a span, .side-nav-menu a:focus span {
  padding: 0 3px 0 7px;
  color: var(--white);
}

@media (min-width: 992px) {
  .side-nav-menu a, .side-nav-menu a:focus {
    width: 56px;
  }

  .side-nav-menu a span, .side-nav-menu a:focus span {
    display: none;
    color: var(--light-accent);
  }
}

.side-nav-menu a:hover, .side-nav-menu .active, .side-nav-menu .active:focus, .side-nav-menu li:hover>a {
  color: var(--dark-base);
  background: var(--light-accent);
}

.side-nav-menu a:hover span, .side-nav-menu .active span, .side-nav-menu .active:focus span, .side-nav-menu li:hover>a span {
  color: var(--dark-base);
}

.side-nav-menu a:hover, .side-nav-menu li:hover>a {
  width: 100%;
  color: var(--dark-base);
}

.side-nav-menu a:hover span, .side-nav-menu li:hover>a span {
  display: inline-block;
}

/* /////////////////////////////////////////////////////////////////////////////
Top Navbar
///////////////////////////////////////////////////////////////////////////// */
#top-navbar {
  padding-bottom: 50px;
  position: absolute;
}

.top-nav-menu {
  background-color: var(--dark-base);
  color: var(--light-accent);
}

@media (min-width: 768px) {
  .top-nav-menu {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.top-nav-menu a {
  color: inherit;
}

.top-nav-menu a:hover {
  color: var(--white);
}

.navbar-toggler {
  color: var(--light-accent);
}

/* /////////////////////////////////////////////////////////////////////////////
Footer
///////////////////////////////////////////////////////////////////////////// */
#contact {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--dark-base);
  color: var(--medium-accent);
  text-align: center;
}

#contact a {
  color: var(--white);
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 30px;
  max-height: 75px;
}

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 767px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }

  .content {
    height: 30vh;
  }

  h1 {
    font-size: 24px;
  }
}

.goat-icon {
  width: 100px;
  height: auto;
}

@media (max-width: 767px) {
  .goat-icon {
    width: 60px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Hero
///////////////////////////////////////////////////////////////////////////// */
#hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../img/Cover Image.jpg") center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  color: var(--white);
}

@media (max-width: 767px) {
  #hero {
    background-attachment: scroll;
  }
}

@media (min-width: 767px) {
  #hero::before {
    content: "";
    background: rgba(217, 176, 140, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
}

#hero h1 {
  color: var(--primary);
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#hero h2 {
  text-align: center;
}

#hero h4 {
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#hero .img-container {
  height: 500px;
  width: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 10px solid var(--dark-base);
}

@media (max-width: 1200px) {
  #hero .img-container {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 767px) {
  #hero .img-container {
    height: 200px;
    width: 200px;
  }
}

#hero .headshot-img {
  display: flex;
  align-items: center;
}

#hero img {
  display: inline;
  margin: 0 auto;
  margin-left: -25%;
  height: 100%;
  width: auto;
}

@media (max-width: 767px) {
  #hero .hero-buttons {
    visibility: hidden;
  }
}

#hero .btn {
  background-color: var(--dark-base);
  color: var(--white);
}

#hero .btn:hover {
  background-color: var(--white);
  color: var(--dark-base);
}

#hero .container {
  position: relative;
}

#hero .text-slider-items {
    display: none;
}

/* /////////////////////////////////////////////////////////////////////////////
About
///////////////////////////////////////////////////////////////////////////// */
#about {
  width: 100%;
  background-color: inherit;
  background-size: cover;
}

#about h1 {
  color: var(--medium-accent);
}

#about h3 {
  text-align: center;
  font-size: 46px;
  font-family: 'Dongle', sans-serif;
}

#about p {
  font-size: 18px;
}

#about .btn {
  background-color: var(--dark-base);
  color: var(--white);
}

#about .btn:hover {
  background-color: var(--white);
  color: var(--dark-base);
}

/* /////////////////////////////////////////////////////////////////////////////
Projects Cover Page
///////////////////////////////////////////////////////////////////////////// */
#projects {
  width: 100%;
  background-size: cover;
}

#projects #project-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background-color: inherit;
  border-radius: 50px;
  padding: 2px 15px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#projects #project-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: var(--primary);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#projects #project-flters li:hover, #projects #project-flters li.active-filter {
  padding: 9px 15px;
  color: var(--light-accent);
  background-color: var(--dark-base);
  border-radius: 20px;
}

#projects #project-flters li:last-child {
  margin-right: 0;
}

#projects .project-item {
  overflow: hidden;
  height: auto;
  background-color: inherit;
  padding: 10px 12px;
}

#projects .card {
  overflow: hidden;
  border-width: 5px;
  height: auto;
  background-color: var(--primary);
  border-radius: 15px;
}

#projects .project-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

#projects .project-item .project-info {
  opacity: 0;
  position: absolute;
  bottom: -50px;
  z-index: 2;
  transition: all ease-in-out 0.3s;
  background-color: var(--dark-base);
  width: 100%;
  padding: 15px 20px;
}

#projects .project-info a {
  font-size: 18px;
  color: var(--medium-accent);
  font-family: 'Mochiy Pop P One', sans-serif;
}

#projects .project-item .project-info p {
  color: var(--white);
  font-size: 14px;
  margin-bottom: 0;
}

#projects .card:hover img {
  top: -30px;
}

#projects .card:hover .project-info {
  opacity: 1;
  bottom: 0;
}

#projects .project-item .project-tags-container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  #projects .project-item .project-tags-container::-webkit-scrollbar {
    display: none;
}

#projects .project-item .project-tags {
    border-radius: 15px;
    background-color: var(--dark-base);
    display: inline;
    padding: 0px 5px;
    margin: 0 3px;
    font-size: 16px;
    border: var(--medium-accent) solid 2px;
    align-content: center;
}

#projects .project-tags p {
    display: inline-block;
    color: var(--white);
}

/* /////////////////////////////////////////////////////////////////////////////
About Page
///////////////////////////////////////////////////////////////////////////// */
#about-page {
  margin-top: 30px;
}

#about-page .img-fluid {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

#about-page a {
  color: var(--light-accent);
  text-align: center;
}

@media (max-width: 767px) {
  #about-page .projects-item h4 {
    text-align: center;
    font-size: 26px;
  }
}

/* /////////////////////////////////////////////////////////////////////////////
Skills
///////////////////////////////////////////////////////////////////////////// */
#skills p {
  color: var(--white);
}

#skills .flip-card {
  width: 28%;
  margin-left: 2.6%;
  margin-right: 2.6%;
  margin-bottom: 30px;
  height: 200px;
  perspective: 1000px;
}

@media (max-width: 992px) {
  #skills .flip-card {
    background-color: transparent;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    height: 250px;
    perspective: 1000px;
    border-radius: 20px;
  }
}

#skills .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background: var(--medium-accent);
  /* background: linear-gradient(var(--rotate)
    , var(--light-accent) 45%, var(--primary), var(--light-accent) 55%); */
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  animation: xyz 5s linear infinite;
  /* Safari */
  backface-visibility: visible;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

@keyframes xyz {
  0% {
    --rotate: 0deg;
  }

  100% {
    --rotate: 360deg;
  }
}

#skills .flip-card-front {
  background-color: var(--primary);
  color: var(--light-accent);
  border: 3px solid transparent;
  border-radius: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background-clip: padding-box;
  /* Safari */
  backface-visibility: hidden;
}

#skills .flip-card-back {
  background-color: var(--primary);
  transform: rotateY(180deg);
  padding: 5px;
  border: 3px solid transparent;
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  background-clip: padding-box;
  /* Safari */
  backface-visibility: hidden;
}

#skills .card-title {
  width: 100%;
  height: auto;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .card-description {
  width: 80%;
  height: auto;
  margin: 0;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#skills .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* /////////////////////////////////////////////////////////////////////////////
Experience
///////////////////////////////////////////////////////////////////////////// */
#experience .experience-title {
  font-size: 30px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--dark-base);
}

#experience .experience-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #376E6F;
  position: relative;
  text-align: left;
}

#experience h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Verdana", sans-serif;
  color: var(--primary);
  margin-bottom: 10px;
  text-align: left;
}

#experience h5 {
  font-size: 16px;
  background: var(--primary);
  /* Edit this color for dates */
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--white);
  text-align: left;
}

#experience p {
  color: var(--dark-base);
  font-family: "Mochiy Pop P One", sans-serif;
}

#experience .experience-item ul {
  padding-left: 20px;
}

#experience .experience-item ul li {
  padding-bottom: 10px;
}

#experience .experience-item:last-child {
  padding-bottom: 0;
}

#experience .experience-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: var(--white);
  border: 2px solid var(--primary);
}

/* /////////////////////////////////////////////////////////////////////////////
Project List
///////////////////////////////////////////////////////////////////////////// */
#project-list {
  margin-top: 30px;
}

@media (min-width: 768px) {
    #project-list .project-block-wrapper {
        max-width: 70%;
    }
}

#project-list .project-block {
  background-color: var(--primary);
  padding: 15px;
  color: var(--white);
  border: 5px var(--light-accent);
  border-radius: 50px 20px 50px 20px;
  margin-top: 15px;
  border: 5px var(--dark-base) solid;
  transition: .25s;
}

#project-list .project-block:hover {
  transform: scale(1.05);
  z-index: 3;
}

#project-list .project-block:hover .project-title {
  text-decoration: underline;
}

#project-list .project-block:hover img {
  border: 3px var(--light-accent) solid;
}

#project-list .project-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#project-list img {
  border-radius: 20px;
  border: 3px var(--dark-base) solid;
}

#project-list .project-title {
  font-size: 28px;
  color: var(--medium-accent);
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
}

#project-list .project-info {
  font-size: 20px;
  padding: 10px;
}

#project-list .project-info p {
    margin-bottom: 3px;
  }
  
  #project-list a:hover, a {
  text-decoration: none;
}

#project-list .project-tags-container {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
}

#project-list .project-tags {
    border-radius: 15px;
    background-color: var(--dark-base);
    display: inline;
    padding: 2px 5px;
    margin: 0 3px;
    font-size: 16px;
    border: var(--medium-accent) solid 2px;
    align-content: center;
}

#project-list .project-tags p {
    display: inline-block;
    color: var(--white);
}

/* /////////////////////////////////////////////////////////////////////////////
Project Detail Page
///////////////////////////////////////////////////////////////////////////// */
#project_detail {
  margin-top: 20px;
}

@media (min-width: 767px) {
  #project_detail .container {
    width: 70%;
  }
}

#project_detail .title-block {
  width: 100%;
  margin-top: 10px;
  border-bottom: solid var(--dark-base);
}

#project_detail .tags-row {
  display: flex;
  align-items: center;
}

#project_detail .project-tag h5 {
  font-family: 'Dongle', sans-serif;
  font-size: 38px;
  font-style: oblique;
  text-transform: uppercase;
  margin-bottom: 3px;
}

#project_detail .project-tags-container {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

#project_detail .project-tags-container::-webkit-scrollbar {
  display: none;
}

#project_detail .project-tags {
  border-radius: 15px;
  background-color: var(--dark-base);
  display: inline;
  padding: 0px 5px;
  margin: 0 3px;
  font-size: 16px;
  border: var(--medium-accent) solid 2px;
  align-content: center;
}

#project_detail .project-tags p {
  display: inline-block;
  margin-bottom: 3px;
  color: var(--white);
}

#project_detail .project-title h1 {
  font-family: 'Mochiy Pop P One', sans-serif;
  text-align: center;
  margin-top: 10px;
}

#project_detail .project-date {
  display: flex;
  justify-content: flex-end;
}

#project_detail .project-date h3 {
  font-family: 'Mochiy Pop P One', sans-serif;
  font-style: italic;
}

#project_detail .text-container {
  background-color: var(--primary);
  color: var(--white);
  border: 2px solid var(--dark-base);
  border-radius: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 15px;
}

#project_detail .project-text-body {
  height: 100%;
  color: var(--white);
}

#project_detail .project-text-body p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding-top: 10px;
}

@media (max-width: 400px) {
  #project_detail .project-text-body p {
    font-size: 14px;
  }
}

#project_detail .img-wrapper {
  width: 80%;
  height: auto;
  border-radius: 20px 40px;
  border: 5px solid var(--primary);
  overflow: hidden;
  margin: 7px 0;
}

@media (max-width: 767px) {
  #project_detail .img-wrapper {
    width: 100%;
  }
}

#project_detail .center-align {
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
}

#similar-projects {
  padding-bottom: 0;
}

#similar-projects .project-carousel {
  background-color: var(--dark-base);
  /* height: 350px; */
  width: auto;
  padding: 10px 0;
}

#similar-projects .carousel {
  height: 100%;
  width: 50%;
  margin: 0 30px;
  margin: auto;
}

#similar-projects .carousel-inner {
  height: 250px;
}

#similar-projects .carousel-item {
  height: 100%;
}

#similar-projects .img-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

#similar-projects img {
  height: 100%;
  object-fit: contain;
  margin: auto;
  border-radius: 20px 40px;
  border: 5px solid var(--primary);
  /* margin: 7px 0; */
}

.similar-projects-header h2 {
  color: var(--light-accent);
  padding-top: 20px;
}

.carousel-caption {
  bottom: 0;
}

.carousel-caption a {
  color: #FFFFFF;
}

/* --dark-base, --primary, --medium-accent, --light-accent, --white */
/* Fun Add-ins */