#project_carousel {
  background-color: #F0F0F0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.carousel-item {
  transition: transform 4s ease-in-out, opacity 4s ease-in-out;
}

.carousel-control-next, .carousel-control-prev {
  position: relative;
  top: 10%;
  z-index: 100;
  background: #123456;
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}

.carousel-pagination {
  width: 100%;
  background-color: #008345;
  justify-content: center;
  text-align: center;
}

.img-wrapper {
  width: 50%;
  height: auto;
}

.carousel-body {
  height: 100vh;
}

.carousel-buttons {
  background: #FFF;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.page-numbers {
  background: #876;
}
