{% extends "projects/top_navbar.html" %} {% load static %} {% block title %} Login
{% endblock %} {% block content %}

<section id="accounts">
    <div class="container accounts-container">
        <h2>Password Reset Page</h2>

        <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Send Link" class="form-input">
        </form>
        <p><a href="{% url 'login' %}">Login</a></p>
    </div>
</section>
{% endblock %}