{% extends "dungeons/index.html" %}
{% load static %}

{% block title %}
Enterance
{% endblock %}

{% block style %}
  #main {
    width: 100%;
    height: 94vh;
    background: url('{{ level.map.url }}') center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
  }
{% endblock %}

{% block main %}
  <section id="main" style="">
    <div class="container vertical-center d-flex flex-column justify-content-center">
      <div class="enterance-text">
        <div class="row">
          <div class="col-12">
            <img src="{% static 'img/dnd/'|add:user.username|add:'.png' %}" alt="{{user}}" class="character-icon">
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 style="color:black;">Welcome {{ user }}.</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h2>
              At each level of the gauntlet there is a password.
              Submit the password to progress to the next level.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer style="height:6vh; background: black; text-align: center;">
    <div class="container" style="color: white;">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
          <p class="butt-next-1"><a href="{% url 'level' 1 %}" style="color:white;">Level 1</a></p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
