<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Garth Hull McSweeney">
  <title>Enter the Gauntlet...</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/garths.css' %}" rel="stylesheet">

  <style media="screen">
    #main {
      width: 100%;
      height: 94vh;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      background-attachment: fixed;
    }
  </style>

</head>

<body>
  <section id="main" style="">

    <div class="container vertical-center d-flex flex-column justify-content-center">
      <div class="row">
        <div class="col-12">
          <h1 style="color:black;">Welcome {{ user }}.</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12" style="text-align: center;">
          <h2>
            At each level of the gauntlet there is a password.
            Submit the password to progress to the next level.
          </h2>
        </div>
      </div>
    </div>
  </section>

  <footer style="height:6vh; background: black; text-align: center;">
    <div class="container" style="color: white;">
      <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
          <p class="butt-next-1"><a href="{% url 'level' 1 %}" style="color:white;">Level 1</a></p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'js/garth.js' %}"></script>

</body>
</html>
