{% extends "dungeons/index.html" %}
{% load static %}

{% block title %}
The Gauntlet
{% endblock %}

{% block content %}
<div class="container vertical-center d-flex flex-column justify-content-center">
  <div id="gauntletCarouselControls" class="carousel" data-interval="False">
    <ol class="carousel-indicators">
      <li data-target="#gauntletCarouselControls" data-slide-to="0" class="active"></li>
      <li data-target="#gauntletCarouselControls" data-slide-to="1"></li>
      <li data-target="#gauntletCarouselControls" data-slide-to="2"></li>
      <li data-target="#gauntletCarouselControls" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" style="height: 10vh; width: 75vw; text-align: center;">
      <div class="carousel-item active">
        <p>The gauntlet is a series of challenges designed challenge all that enter.</p>
      </div>
      <div class="carousel-item">
        <p>Complete the challenge, collect the special token, and advance to the exit to proceed.</p>
      </div>
      <div class="carousel-item">
        <p>You may exit the gauntlet at any point.</p>
      </div>
      <div class="carousel-item">
        <form method="post"> {% csrf_token %}
          <div class="row justify-content-center">
            <button id="face_button" type="button">Enter</button>
            <button id="" type="submit">Enter</button>
          </div>
          <div class="row" style="visibility: hidden;">
            <video id="video">Video stream not available.</video>
            <img id="photo" alt="your image">
            <input id="img_input" value="" name="img_src" type="text" style="display: none;">
            <canvas id="canvas"></canvas>
          </div>
          <script src="{% static 'js/face_recog.js' %}"></script>
        </form>
      </div>
    </div>
    <a class="carousel-control-prev" href="#gauntletCarouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#gauntletCarouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{% endblock %}
