{% extends "dungeons/index.html" %}
{% load static %}

{% block content %}
<section id="map-cover" class="container vertical-center d-flex flex-column justify-content-center" style="position: relative;">
  <div class="row align-items-center">
    <div class="col-4" style="">
      <h1>Come See Our Attractions!</h1>
      <ul>
        <li>1: Geronimo</li>
        <li>2: Flying Gorge</li>
        <li>3: The Gauntlet</li>
        <li>4: Pony Rides</li>
        <li>5: The Express Test</li>
        <li>6: Full Tortle</li>
        <li>7: Under My Umbrella</li>
      </ul>
    </div>
    <div class="col-8" style="">
      <img src="{% static 'img/dnd/Map.jpg' %}" alt="">
    </div>
  </div>
</section>
{% endblock %}
