{% extends "dungeons/index.html" %}
{% load static %}

{% block title %}
Fantasy Garths World!
{% endblock %}

{% block style %}
{% endblock %}

{% block main %}
<header id="header">
  <nav class="navbar navbar-expand-sm fixed-top">
    <a href="{% url 'dnd_main' %}" class="navbar-brand">Welcome to Garth's World!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarEx" aria-controls="navbarEx" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon">Menu</span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarEx">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'map' %}">Map!</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gauntlet' %}">The Gauntlet!</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

{% block content %}
{% endblock %}

{% endblock %}
