{% extends "dungeons/navbar.html" %}
{% load static %}

{% block title %}
The Gauntlet
{% endblock %}

{% block style %}
  body {
    background-color: #000000;
    color: #FFF;
    height: 100%;
  }
{% endblock %}

{% block content %}
<div class="container vertical-center d-flex flex-column justify-content-center">
  <div id="gauntletCarouselControls" class="carousel" data-interval="False">
    <ol class="carousel-indicators">
      <li data-target="#gauntletCarouselControls" data-slide-to="0" class="active"></li>
      <li data-target="#gauntletCarouselControls" data-slide-to="1"></li>
      <li data-target="#gauntletCarouselControls" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 10vh; width: 75vw; text-align: center;">
      <div class="carousel-item active">
        <p>You may not enter the gauntlet.</p>
      </div>
      <div class="carousel-item">
        <p>You must be at least this tall to enter.</p>
      </div>
      <div class="carousel-item">
        <p>Go enjoy our full assortment of other rides and attractions.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
