{% extends "personal/index.html" %}
{% load static %}

{% block title %}
<div class="container col-6" style="padding-top: 70px;">
  <h1 style='color: #99B3FF'>Welcome to the website!</h1>
  <p>I built this website as a place where I can share some of the projects I have
    worked on.  Not all the projects are exciting, but hopefully someone finds
    something on here interesting.  Thanks for stopping by!
  </p>
</div>
<hr style="background-color: #da7b93;">
<hr style="background-color: #da7b93;">
{% endblock %}


{% block content %}
<section id="about_me">
  <h1>Who am I?</h1>
  <div class="row justify-content-md-center">
    <div class="col-md-6" style="">
      <p>
        My name is Garth and I am a 23 year old recent college graduate living in NH.  I
        studied at Worcester Polytechnic Institute where I earned my Masters and Bachelors
        in mechanical engineering.  Currently I am working at MilliporeSigma as a Process
        Engineer for the Pellicon 3 line of filters.
        <br>
      </p>
      <section id="interests">
        <p>
          Since graduation I have been working on projects to keep myself busy an motivated
          to learn.  I started teaching myself Python (how I made this website), have done
          solidworks modeling for various personal projects, and worked a lot with my 3D printer
          for quick prototyping of my work.  Check out some of the projecs on this website!
          <br>
          Other than this, I am passionate about the outdoors.  I love all kinds of sports, hiking
          or just exploring.  I competed in collegiate track and field at WPI, but I have also head
          a lot of fun with soccer, badminton, bouldering, baseball, and vollyball.
        </p>
      </section>
    </div>
    <div class="col-md-4 ">
      <!-- <img src="{% static 'img/Scar Face.JPG' %}" style="width: 100%;"> -->
      <img src="{% static 'img/Garth at Yellowstone.JPG' %}" style="width: 100%;">
    </div>
  </div>
</section>


<hr style="background-color: #da7b93;">

<section id="skills">
  <h1 style="padding-bottom:20px;">Skills</h1>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Solidworks</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I have been working with Solidworks for the past 8 years on various
            school and personal projects.  I have my associates certification,
            looking to get my pro certification.  Checkout some of my designs on
            the projects page.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">3D Printing</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I have always been excited about creating and realizing different ideas.
            3D printing has been a great way to quickly prototype ideas.  My Prusa
            MK2S printer has been a reliable partner on projects.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Inventor Fusion</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            In addition to Solidworks, I have experience with other modeling software
            such as Inventor.  Other packages I have dabbled in include Autocad,
            Maya, and ZBrush.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Python</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I started programming in high school and have picked it up again after
            college.  I have been learning python as a hobby and working on personal projects
            in my spare time.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Arduino</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            Along with coding, I have been developing an interest in robotics and
            electronics.  So far I only have experience with simple designs, but I
            hope to expand upong this in the future.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Web Design</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I like to try new things, building websites is one of them.  Garths.world is
            the second site that I have made.  The first one I made in Albania as
            a part of a historical conservation project.  Check it out at Xhubleta.org
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Communications</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            WPI and MilliporeSigma have greatly helped me improve my communicational ability.
            When working on projects with strict deadlines and quick decisions needing to
            be made, strong sommunication has been vital.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Woodworking</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            In additon to printing, I also enjoy woodworking. I am still learning,
            but I enjoy the process and the beautiful creations.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Woodworking</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            In additon to printing, I also enjoy woodworking. I am still learning,
            but I enjoy the process and the beautiful creations.
          </p>
        </div>
      </div>
    </div>
  </div> -->
</section>

<hr style="background-color: #da7b93;">

<section id="experience">
  <h1>Experience</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2 class="experience-title">Professional</h2>
      <div class="experience-item">
        <h4>Process Engineer</h4>
        <h5>September 2020 - Present</h5>
        <p><i>MilliporeSigma - Jaffrey, NH</i></p>
        <p>
          PE for the Pellicon 3 line of filters.
        </p>
        <ul>
          <li>Optimizing production settings to improve yields by 50% for several products.</li>
          <li>Develop process improvements to improve line throughput.</li>
          <li>Communicate with production and quality departments to follow proper procedure for process improvements.</li>
          <!-- <li></li> -->
          <!-- <li></li> -->
        </ul>
      </div>
      <div class="experience-item">
        <h4>Engineering Intern</h4>
        <h5>May - August, 2018</h5>
        <p><i>Boston Dynamics - Waltham, MA</i></p>
        <ul>
          <li>Worked with the Handle perception team on a robotic vision system.</li>
          <li>Helped create a neural network to allow Handle to detect boxes in front of it.</li>
        </ul>
      </div>
      <div class="experience-item">
        <h4>Loan Servicing Intern</h4>
        <h5>May - August, (2015-2017, 2019)</h5>
        <p><i>Leader Bank - Arlington, MA</i></p>
        <ul>
          <li>Worked in the loan servicing department to organize file systems and
          communicate with third party insurance companies.</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2 class="experience-title">Educational</h2>
      <div class="experience-item">
        <h4>Bachelors of Science in Mechanical Engineering</h4>
        <h5>August 2016 - May 2020</h5>
        <p><i>Worcester Polytechnic Institute - Worcester, MA</i></p>
        <!-- <p>
          GPA: 3.82
        </p> -->
      </div>
      <div class="experience-item">
        <h4>Masters of Science in Mechanical Engineering</h4>
        <h5>August 2019 - May 2020</h5>
        <p><i>Worcester Polytechnic Institute - Worcester, MA</i></p>
        <!-- <p>
          GPA: 3.92
        </p> -->
      </div>
    </div>
  </div>
</section>

{% endblock %}
