{% extends "personal/index.html" %}
{% load static %}

{% block title %}
<div class="container" style="padding-top: 70px;">
  <h1 style='color: #99B3FF'>Howdy, welcome to the website!</h1>
  <p>I built this website in my free time as a way to document the work that I am doing.
    Coming out of university I want to keep learning new skills.  Here I'll be able
    to look back and see all of the things that I have worked on.  Not all the project
    are exciting, but anything that I felt excited about can get uploaded and shared
    to anyone interested.  Thanks for stopping by!
  </p>
</div>
<hr style="background-color: #da7b93;">
<hr style="background-color: #da7b93;">
{% endblock %}


{% block content %}
<section id="about_me">
  <h1>Who am I?</h1>
  <div class="row">
    <div class="col-8">
      <p>
        What a great question.  On the outside, I am 23 years old, just graduating
        from WPI, starting out my career in Jaffrey, NH.
      </p>
    </div>
    <div class="col-4">
      <img src="{% static 'img/Scar Face.jpg' %}" style="width: 100%;">
    </div>
  </div>
</section>

<hr style="background-color: #da7b93;">

<section id="skills">
  <h1 style="padding-bottom:20px;">Skills</h1>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Solidworks</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I have been working with Solidworks for the past 8 years on various
            school and personal projects.  I have my associates certification,
            looking to get my pro certification.  Checkout some of my designs on
            the projects page.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">3D Printing</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I have always been excited about creating and realizing different ideas.
            3D printing has been a great way to quickly prototype ideas.  My Prusa
            MK2S printer has been a reliable partner on projects.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Inventor Fusion</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            In addition to Solidworks, I have experience with other modeling software
            such as Inventor.  Other packages I have dabbled in include Autocad,
            Maya, and ZBrush.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Microsoft Office</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I am a fledgling student of the Microsoft Office suite.  I have experience
            with Word, Excel, Powerpoint, and Outlook.  Its really exciting.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Communications</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            WPI and MilliporeSigma have greatly helped me improve my communicational ability.
            When working on projects with strick deadlines and quick decisions needing to
            be made, strong sommunication has been vital.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Web Design</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I like to try new things, building websites is one of them.  This is
            the second site that I have made.  The first one I made in Albania as
            a part of a historical conservation project.  Check it out at Xhubleta.com
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Python</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            I started programming in high school and have picked it up again after
            college.  I have been learning python as a hobby and working on personal projects 
            in my spare time.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Arduino</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            Along with coding, I have been developing an interest in robotics and
            electronics.  So far I only have experience with simple designs, but I
            hope to expand upong this in the future.
          </p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3 class="card-title">Woodworking</h3>
        </div>
        <div class="flip-card-back">
          <p class="card-description">
            In additon to printing, I also enjoy woodworking. I am still learning,
            but I enjoy the process and the beautiful creations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<hr style="background-color: #da7b93;">

<section id="experience">
  <h1>Experience</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h2 class="experience-title">Professional</h2>
      <div class="experience-item">
        <h4>Process Engineer</h4>
        <h5>September 2020 - Present</h5>
        <p><i>MilliporeSigma - Jaffrey, NH</i></p>
        <p>
          Im a process engineer at MilliporeSigma.  I

        </p>
      </div>
      <div class="experience-item">
        <h4>Engineering Intern</h4>
        <h5>May - August, 2018</h5>
        <p><i>Boston Dynamics - Waltham, MA</i></p>
        <p>I was an intern at boston dynamics. </p>
      </div>
      <div class="experience-item">
        <h4>Loan Servicing Intern</h4>
        <h5>May - August, (2015-2017, 2019)</h5>
        <p><i>Leader Bank - Arlington, MA</i></p>
        <p>I worked at a bank.</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h2 class="experience-title">Educational</h2>
      <div class="experience-item">
        <h4>Bachelors of Science in Mechanical Engineering</h4>
        <h5>August 2016 - May 2020</h5>
        <p><i>Worcester Polytechnic Institute - Worcester, MA</i></p>
        <p>I completed my masters and bachelors at WPI</p>
      </div>
      <div class="experience-item">
        <h4>Masters of Science in Mechanical Engineering</h4>
        <h5>August 2016 - May 2020</h5>
        <p><i>Worcester Polytechnic Institute - Worcester, MA</i></p>
        <p>I completed my masters and bachelors at WPI</p>
      </div>
    </div>
  </div>
</section>

<hr style="background-color: #da7b93;">

<section id="interests">
  <h1>Personal interests</h1>
  <p>Like I said, after graduation I wanted to make sure I continued to work on projects
    in my personal time.  I have started getting into robotics and coding, along with
    woodworking and others.  <br>
    Other than this, I am passionate about the outdoors, whether sports, hiking or just exploring.
    Sports have been a large part of my life between playing and watching.  I competed
    in collegiate track and field with other experience in soccer, badminton, bouldering, baseball,
    and vollyball.  I love watching less popular sports.
  </p>
</section>

{% endblock %}
