{% extends "projects/top_navbar.html" %} {% load static %} 
{% block title %} About Garth {% endblock %} {% block content %}
<div id="about-page">
    {% if skills %}
    <section id="skills">
    <div class="container">
      <div class="section-header">
        <h2 style="padding-bottom: 20px">Skills</h2>
        <p></p>
      </div>

      <div class="row">
        {% for skill in skills %}
        <div class="col-lg-4 col-md-6 skill-card">
          <div class="skill-card-inner">
            <div class="skill-icon">
              <i class="bx bx-{{skill.icon_name}}"></i>
            </div>
            <h3 class="skill-title">{{skill.name}}</h3>
            <p class="skill-description">
              {{skill.description|safe}}
            </p>
            <!-- <div class="skill-rating">{{skill.rating}}</div> -->
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </section>
  {% endif %}

  <section id="experience">
    <div class="container">
      <div class="section-header">
        <h2>Experience</h2>
        <p></p>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h2 class="experience-title">Professional</h2>
          <div class="experience-item">
            <h4>Process Engineer 2</h4>
            <h5>September 2020 - Present</h5>
            <p><i>MilliporeSigma - Jaffrey, NH</i></p>
            <ul>
              <li>
                Implement PLC code updates to increase machine throughput by
                +40%.
              </li>
              <li>
                Analyze and resolved common machine malfunctions, reducing
                downtime.
              </li>
              <li>
                Optimize injection molding settings, boosting product yields by
                40%.
              </li>
              <li>
                Design mechanical components and assemblies to build custom
                machine improvements.
              </li>
              <li>
                Collaborated with departments to meet quality and production
                goals
              </li>
              <li>
                Coordinated equipment repairs and improvements with third-party
                manufacturers.
              </li>
            </ul>
          </div>
          <div class="experience-item">
            <h4>Engineering Intern</h4>
            <h5>May - August, 2018</h5>
            <p><i>Boston Dynamics - Waltham, MA</i></p>
            <ul>
              <li>
                Developed machine learning datasets for warehouse box
                classification.
              </li>
              <li>
                Enhanced robotic image recognition for shipping container
                applications.
              </li>
            </ul>
          </div>
          <div class="experience-item">
            <h4>Loan Servicing Intern</h4>
            <h5>May - August, (2015-2017, 2019)</h5>
            <p><i>Leader Bank - Arlington, MA</i></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <h2 class="experience-title">Education</h2>
          <div class="experience-item">
            <h4>Bachelors of Science in Mechanical Engineering</h4>
            <h5>August 2016 - May 2020</h5>
            <p><i>Worcester Polytechnic Institute - Worcester, MA</i></p>
            <!-- <p>
              GPA: 3.82
            </p> -->
          </div>
          <div class="experience-item">
            <h4>Masters of Science in Mechanical Engineering</h4>
            <h5>August 2019 - May 2020</h5>
            <p><i>Worcester Polytechnic Institute - Worcester, MA</i></p>
            <!-- <p>
              GPA: 3.92
            </p> -->
          </div>
          <h2 class="experience-title">Certifications</h2>
          <div class="experience-item">
            <h4>Solidworks Expert Certification</h4>
            <h5>October 2021</h5>
            <p><i>Dassault Systemes</i></p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
