{% extends "personal/index.html" %}

{% block title %}
Garth's Projects
{% endblock %}

{% block content %}

  <div class="container intro" style="width:85%">
    <h1>Projects:</h1>
    <p>
      This is a sample of some of the projects that I have worked on.  Some of
      these were for school and work, others were done in my free time.
    </p>
  </div>

  {% for project in object_list %}
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 projects-item">
          <img src="{{ project.cover_image.url }}" alt="" class="img-fluid">
        </div>
        <div class="col-lg-8 col-md-6 projects-item">
          <div class="projects-info">
            <h4><a href="/projects/{{project.slug}}"> {{project.title}} </a></h4>
            <p>{{ project.body|safe|truncatewords:40 }}</p>
            <p>{{ project.type }}, <i>{{ project.date|date:"m-d-Y" }}</i></p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}

{% endblock %}
