{% extends "projects/top_navbar.html" %} {% load static %} {% block title %}
{{project.title}} {% endblock %} {% block content %}
<section id="project_detail">
  <div class="container">
    <div class="title-block">
      <div class="row tags-row">
        <div class="col-md-4 order-1">
          <div class="project-tag">
            <h5>{{ project.type }}</h5>
          </div>
        </div>
        <div class="col-md-8 order-2">
          <div class="project-tags-container">
            {% for tag in project.tags.all %}
            <div class="project-tags">
              <p>{{ tag }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="project-title">
        <h1>{{ project.title }}</h1>
      </div>
      <div class="project-date">
        <h3>{{ project.date|date:"M, Y" }}</h3>
      </div>
    </div>
    {% for page in page_list %} {% if page.text %}
    <div class="text-container">
      <div class="project-text-body">{{page.text|safe|linebreaks}}</div>
    </div>
    {% endif %} {% if page.img %}
    <div class="center-align">
      <div class="img-wrapper">
        <img src="{{ page.img.url }}" class="d-block w-100" alt="..." />
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>

{% endblock %}
