{% extends "personal/index.html" %}
{% load static %}

{% block title %}
<section id="cover" class="d-flex flex-column justify-content-center" style="background: url('{{ project.cover_image.url }}') center center;
      background-attachment: fixed; width: 100%; height: 80vh; background-size: cover; position: relative;">
  <div class="cover-container">
    <h1>{{project.title}}</h1>
  </div>
</section>
{% endblock %}

{% block content %}
<div id="project_page">
  <h3>On {{project.date}}</h3>

  <!-- Could work on ordering this properly on mobile -->
  <div class="row justify-content-center">
    <div class="col-sm-7 project-txt-col">
      {{project.body|safe|linebreaks}}
    </div>
    <div class="col-sm-5 project-img-col">
      <img src="{{ project.img.url }}" alt="" class="project-img">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-7 project-txt-col">
      {{project.body2|safe|linebreaks}}
    </div>
    <div class="col-sm-5 project-img-col">
      <img src="{{ project.img2.url }}" alt="" class="project-img">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-7 project-txt-col">
      {{project.body3|safe|linebreaks}}
    </div>
    <div class="col-sm-5 project-img-col">
      <img src="{{ project.img3.url }}" alt="" class="project-img">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-7 project-txt-col">
      {{project.body4|safe|linebreaks}}
    </div>
    <div class="col-sm-5 project-img-col">
      <img src="{{ project.img4.url }}" alt="" class="project-img">
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-sm-7 project-txt-col">
      {{project.body5|safe|linebreaks}}
    </div>
    <div class="col-sm-5 project-img-col">
      <img src="{{ project.img5.url }}" alt="" class="project-img">
    </div>
  </div>
</div>

{% endblock %}
