{% extends "projects/top_navbar.html" %} {% load static %} {% block title %}
{{project.title}} {% endblock %} {% block content %}
<section id="project_detail">
  <div class="container">
    <div class="title-block">
      <div class="row tags-row">
        <div class="col-md-4 order-1">
          <div class="project-tag">
            <h5>{{ project.type }}</h5>
          </div>
        </div>
        <div class="col-md-8 order-2">
          <div class="project-tags-container">
            {% for tag in project.tags.all %}
            <div class="project-tags">
              <p>{{ tag }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="project-title">
        <h1>{{ project.title }}</h1>
      </div>
      <div class="project-date">
        <h3>{{ project.date|date:"M, Y" }}</h3>
      </div>
    </div>
    {% for page in page_list %} {% if page.text %}
    <div class="text-container">
      <div class="project-text-body">{{page.text|safe|linebreaks}}</div>
    </div>
    {% endif %} {% if page.img %}
    <div class="center-align">
      <div class="img-wrapper">
        <img src="{{ page.img.url }}" class="d-block w-100" alt="..." />
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>
</section>
<section id="similar-projects">
  <div class="section-header">
    <h2>Similar Projects</h2>
  </div>
  <div class="project-carousel">
    <div id="projectsCarousel" class="carousel slide" data-bs-interval="false">
      <div class="carousel-indicators">
        {% for proj in similar_projects %} {% if forloop.counter0 == 0 %}
        <button
          type="button"
          data-bs-target="#projectsCarousel"
          data-bs-slide-to="{{forloop.counter0}}"
          class="active"
          aria-current="true"
          aria-label="Slide {{forloop.counter}}"
        ></button>
        {% else %}
        <button
          type="button"
          data-bs-target="#projectsCarousel"
          data-bs-slide-to="{{forloop.counter0}}"
          aria-label="Slide {{forloop.counter}}"
        ></button>
        {% endif %} {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for proj in similar_projects %} {% if forloop.counter0 == 0 %}
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{proj.cover_image.url}}" />
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>{{proj.title}}</h5>
          </div> -->
        </div>
        {% else %}
        <div class="carousel-item">
          <img class="d-block w-100" src="{{proj.cover_image.url}}" />
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>{{proj.title}}</h5>
          </div> -->
        </div>
        {% endif %} {% endfor %}
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#projectsCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#projectsCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

{% endblock %}
