{% extends "projects/top_navbar.html" %} {% block title %} Garth Hull McSweeney
{% endblock %} {% block content %}

<section id="project-list">
  <div class="section-header">
    <h2>My Projects:</h2>
    <p>Here is a list of some projects that I have worked on.</p>
  </div>
  <div class="container project-block-wrapper">
    {% for project in object_list %}
    <div class="row">
      <div class="col-md-1 timeline-col">
        {% if project.type == 'Engineering' %}
        <div class="project-bullet"><i class="bx bx-wrench"></i></div>
        {% elif project.type == 'Programming' %}
        <div class="project-bullet"><i class="bx bx-desktop"></i></div>
        {% elif project.type == 'Other' %}
        <div class="project-bullet"><i class="bx bx-question-mark"></i></div>
        {% endif %}
        <div class="project-line"></div>
      </div>
      <div class="col-md-11">
        <a class="project-link" href="{% url 'project_detail' project.slug %}">
          <div class="container project-block">
            <div class="row">
              <div class="col-md-5 px-0 img-col">
                <div class="project-img">
                  <img
                    src="{{ project.cover_image.url }}"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
              <div
                class="col-md-7 center-align"
                style="justify-content: space-evenly"
              >
                <div class="project-title">
                  <h3>{{ project.title }}</h3>
                </div>
                <!-- <div class="project-info"> -->
                <p class="project-description">
                  {{ project.pages.first.text|safe|truncatewords:35 }}
                </p>
                <div class="project-tags-container">
                  {% for tag in project.tags.all %}
                  <div class="project-tags">
                    <p>{{ tag }}</p>
                  </div>
                  {% endfor %}
                </div>
                <div class="row">
                  <div class="col-8 pr-0" style="padding-right: 0">
                    <h5>Type: {{ project.type }}</h5>
                  </div>
                  <div class="col-4" style="text-align: end; padding-left: 0">
                    <h5><i>{{ project.date|date:"M, Y" }}</i></h5>
                  </div>
                </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>

{% endblock %}
