{% extends "personal/index.html" %}
{% load static %}

{% block title %}
<section id="cover" class="d-flex flex-column justify-content-center" style="background: url('{{ project.cover_image.url }}') center center;
      background-attachment: fixed; width: 100%; height: 80vh; background-size: cover; position: relative;">
  <div class="cover-container">
    <h1>{{project.title}}</h1>
  </div>
</section>
{% endblock %}

{% block content %}
<h3>On {{project.date}}</h3>

<!-- Could work on ordering this properly on mobile -->
<div class="row">
  <div class="col-7">
    {{project.body|safe|linebreaks}}
  </div>
  <div class="col-5">
    <img src="{{ project.img.url }}" alt="" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-5">
    <img src="{{ project.img2.url }}" alt="" class="img-fluid">
  </div>
  <div class="col-7">
    {{project.body2|safe|linebreaks}}
  </div>
</div>

<div class="row">
  <div class="col-7">
    {{project.body3|safe|linebreaks}}
  </div>
  <div class="col-5">
    <img src="{{ project.img3.url }}" alt="" class="img-fluid">
  </div>
</div>

<div class="row">
  <div class="col-5">
    <img src="{{ project.img4.url }}" alt="" class="img-fluid">
  </div>
  <div class="col-7">
    {{project.body4|safe|linebreaks}}
  </div>
</div>

<div class="row">
  <div class="col-7">
    {{project.body5|safe|linebreaks}}
  </div>
  <div class="col-5">
    <img src="{{ project.img5.url }}" alt="" class="img-fluid">
  </div>
</div>

{% endblock %}
