{% extends "projects/top_navbar.html" %} {% load static %}

{% block title %}
  {{project.title}}
{% endblock %}

{% block content %}
<section id="project_carousel">
  <div class="carousel-container">
    <div class="row page">
      <div class="col-md-12 carousel-body">
        <div
          id="Carousel"
          class="carousel slide carousel-fade"
          data-bs-interval="false"
        >
          <div class="carousel-inner">
            {% for page in page_list %}
            <div
              class="carousel-item {% if page == page_list|first %}active{% endif %}"
            >
              <div class="row">
                {% if not page.text %}
                <div class="col-md-12">
                  <div class="text-wrapper">
                    <div class="row">
                      <div class="project-tag">
                        <h5>{{ project.type }}</h5>
                      </div>
                      <div class="project-title">
                        <h1>{{ project.title }}</h1>
                      </div>
                      <div class="project-date">
                        <h3>{{ project.date|date:"M, Y" }}</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="justify-content-center">
                  <div class="img-align">
                    <div class="img-wrapper">
                      <img
                        src="{{ page.img.url }}"
                        class="d-block w-100"
                        alt="..."
                      />
                    </div>
                  </div>
                </div>
                {% elif not page.img %}
                <div class="col-md-5">
                  <div class="text-wrapper">
                    <div class="row">
                      <div class="project-tag">
                        <h5>{{ project.type }}</h5>
                      </div>
                      <div class="project-title">
                        <h1>{{ project.title }}</h1>
                      </div>
                      <div class="project-date">
                        <h3>{{ project.date|date:"M, Y" }}</h3>
                      </div>
                    </div>
                    <div class="container text-container">
                      <div class="row">
                        <div class="project-text-body">
                          <p>{{page.text|safe|linebreaks}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="col-md-5 order-1">
                  <div class="text-wrapper">
                    <div class="row">
                      <div class="project-tag">
                        <h5>{{ project.type }}</h5>
                      </div>
                      <div class="project-title">
                        <h1>{{ project.title }}</h1>
                      </div>
                      <div class="project-date">
                        <h3>{{ project.date|date:"M, Y" }}</h3>
                      </div>
                    </div>
                    <div class="container text-container">
                      <div class="row">
                        <div class="project-text-body">
                          <p>{{page.text|safe|linebreaks}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-7 order-2 center-align">
                  <div class="img-wrapper">
                    <img
                      src="{{ page.img.url }}"
                      class="d-block w-100"
                      alt="..."
                    />
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-12 carousel-buttons">
        <div class="carousel-pagination">
          <div class="row">
            <h2><span class="num"></span></h2>
          </div>
          <div class="row">
            <div class="col-6">
              <button
                class="carousel-button carousel-button-prev"
                type="button"
                data-bs-target="#Carousel"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true">
                  <svg
                    fill="none"
                    stroke="currentColor"
                    viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.2"
                      d="M17 8l4 4m0 0l-4 4m4-4H3"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
            <div class="col-6">
              <button
                class="carousel-button carousel-button-next"
                type="button"
                data-bs-target="#Carousel"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true">
                  <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.2"
                      d="M17 8l4 4m0 0l-4 4m4-4H3"
                    ></path>
                  </svg>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
