{% extends "projects/index.html" %}

{% block title %}
{% endblock %}

{% block main %}
<header id="top-navbar">
  <nav class="navbar top-nav-menu navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Garths World</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="bx bx-menu"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'project_list' %}">Projects </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

{% block content %}
{% endblock %}

{% endblock %}
